# These requirements include all dependencies for all top-level python scripts
# for llama.cpp. Avoid adding packages here directly.
#
# Package versions must stay compatible across all top-level python scripts.
#
# For GGUF inference in Python, you may need llama-cpp-python:
# llama-cpp-python  # Uncomment if you want to run GGUF inference in Python. Not required for conversion.
